header span{
    padding-left: 10%;
    font-size: 30px;
    color: azure;
}

hr{
    color: azure;
}

#volver{
    font-size: 17px;
    text-align: center;
    width: 125px;
    height: 35px;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    background-color: crimson;
    color: azure;
    float: right;
    margin-right: 225px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
}

#printhistory{
    font-size: 17px;
    width: 125px;
    height: 75px;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    background-color: #080f94;
    color: azure;
    float: right;
    margin-right: 225px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
}

header .welcome{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
    color: azure;
}

body{
    font-family: 'Exo 2', sans-serif;
    background-image: url("../img/diamondmember1.png");
    background-size: cover;   
}
